* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #9c9ba1;

  border-radius: 0.4em;
}

html {
  background-color: #2B2A33;

}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-item {
  width: 79%;
}

.site-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.main-line-item:hover {
  background-color: rgba(223, 222, 222, 0.25);
}

.main-line-item {
  background-color: #d5d3d31f;
  padding: 1em;
}

.main-line-item .site-text {
  text-align: center;
}

.site-icon {
  text-align: center;
}

.site-icon img {
  width: 80px;
}

.site-text {
  margin-top: 0.5em;
}

.search-box {
  width: 100%;
  font-size: xx-large;
}
