<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Browser homepage</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="main">
  <h1>Homepage</h1>
  <div class="main-item">
    <form action="https://duckduckgo.com/" method="get">
      <input class="search-box" name="q" type="text" placeholder="Search DuckDuckGo">
    </form>
  </div>
  {{ content }}
</div>
</body>
</html>
